.timer {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .time {
    text-align: center;
    display: flex;
    flex-direction: row;
    font-size: 80px;
  }
  .time-text {
    text-align: center;
    display: flex;
    flex-direction: row;
    font-size: 20px;
      color: grey;
      width: 290px;
      justify-content: space-around;
  }
  .button5 {
    background-color: white;
    color: black;
    border: 2px solid #555555;
    border-radius: 8px;
    width: 100px;
    padding: 5px;
    
    
  }
  .button-flex{
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    width: 290px;
    justify-content: space-around;
  }
  
  
  
  
  
  